/*
* @Author: lenovo
* @Date:   2017-10-03 12:37:19
* @Last Modified by:   lenovo
* @Last Modified time: 2017-10-08 12:10:16
*/
@import url('base.css');
/* 头部开始 */
header{
	width: 1200px;
	height: 126px;
	background: #fff;
	margin: 0 auto;
}
.logo{
	width: 192px;
	float: left;
}
.nav{
	width: 1002px;
	margin: 46px -18px 0 0;
	float: right;
	display: flex;
	justify-content: space-between;
}
.nav >li{
	width: 100px;
	height: 40px;
	line-height: 26px;
	font-size: 16px;
	text-align: center;
	margin-left: 11px;
	position: relative;
}
.nav >li a{
	color: #000;
}
.nav >li:hover{
	border-bottom: 2px solid #CF000A;

}
.nav >li:hover .nav >li>a{
	color: #CF000A;

}
.nitem{
	width: 100%;
	height: 0;
	position: absolute;
	left: 0;
	top: 40px;
	overflow: hidden;
	z-index: 9;
	background: #fff;

}
.nitem>li{
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
}
.nitem>li:hover{
	background: #b0b0b0;


}
.nitem>li:hover a{
	background: #b0b0b0;
	color: #CF000A;
	

}
/* banner开始 */
.banner{
	width: 1349px;
	height: 492px;
	margin: 0 auto;
}
.banner-body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	

}
.banner-body>li{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 1349px;
}
.banner-bottom{
	width: 102px;
	height: 14px;
	position: absolute;
	left: 50%;
	margin-left: -51px;
	bottom: 20px;
}
.banner-bottom>li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 2px solid #fff;
	margin: 0 10px;
	float: left;
	cursor: pointer;
}
/* foodtitle */
.foodtitle{
	min-width: 1200px;
	padding-top: 30px;
	margin-bottom: 40px;
	border-bottom: 1px solid #ccc;
}
.ftitle{
	width: 1200px;
	height: 74px;
	margin: 0 auto;
}
.fleft{
	float: left;
	height: 74px;
	line-height: 50px;
	font-size: 34px;
	font-weight: bold;
	color: #404040;
	background: url('../img/product_tline.jpg') no-repeat 2px bottom;
	text-transform: uppercase;
}
.fright{
	float: right;
	font-size: 15px;
	margin-top: 16px;
	line-height: 24px;
	color: #333;
}
.fright>img{
	width: 22px;
	height: 20px;
	float: left;
	margin-right: 15px;
	vertical-align: bottom;
}
.fright>a:first-of-type{
	color:#333;
}
.ne{
	color: #727272;
}
.dq{
	color: #c7000a;
}
/* 题目 */
.bodytitle{
	width: 100%;
	height: 62px;
	text-align: center;
	margin-bottom: 20px;

}
.bodytitle>ul{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding-left:411px;
}
.bodytitle>ul>li{
	width: 140px;
    height: 42px;
    line-height: 42px;
    background: #404040;
    border-radius: 5px;
    font-size: 17px;
    float: left;
    color: #fff;
    margin: 0 14px 20px 14px;
}
.bodytitle>ul>li>a{
		display: block;
		width: 100%;
		height: 100%;
	  	color: #fff;
}
/* 身体 */
.mbody{
	width: 1056px;
	height: auto;
	margin: 0 auto;
	padding-bottom: 50px;
	position: relative;

}
.mbody .hello{
	clear: both;
}
.mbody>ul{
	width: auto;
	min-height: 360px;
	padding: 0;
	padding: 15px;
	text-align: justify;
	margin-bottom: 30px;
	color: #000;
	display: none;
}
.mbody>ul>li{
    width: 100%;
    min-height:360px;
   
}

.news>p{
	text-align: center;
}
.news>p>span{
	font-size: 18px;
	line-height: 34px;
	text-align: center;
}
.news>h1{
	text-align: center;
}
.news img{
	display: block;
	width: 637px;
	height: 427px;
	margin: 20px auto;

}
.news .join2{
	width: 636px;
	height: 425px;
}
.news .join3{
	width: 635px;
	height: 414px;
}
.news  .join4{
	width: 633px;
	height: 400px;
}
/* foot */
footer{
	min-width: 1200px;
    background: #2e2d29;
    padding: 70px 0 42px 0;
    height: 164px;

}
.footbody{
	width: 1200px;
	margin: 0 auto;
}
.footleft{
	float: left;
    width: 730px;
    padding-left: 90px;
}
.footleft>dl{
	float: left;
    width: 198px;
}
.footleft>dl>dt,.feleft>dt{
	line-height: 34px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
    font-family: "黑体";
}
.footleft>dl>dd{
	line-height: 26px;
    font-size: 15px;
    color: #737373;
}
.footleft>dl>dd>a{
	color: #737373;
}
.footleft .feleft{
	width: 220px;
}
.footleft .feleft>p:first-child{
	margin-bottom: 4px;
}
.feright{
	float: right;
    width: 314px;
    padding-right: 10px;
}
.feright>li{
	float: left;
    width: 152px;
    text-align: center;
    line-height: 40px;
    color: #737373;
    font-size: 14px;
    margin-right: 5px;
}
.end{
	min-width: 1200px;
    text-align: center;
    background: #3c3c3a;
    border-top: solid 1px #343330;
    line-height: 48px;
    color: #737373;
    font-size: 14px;
}